asgiref==3.10.0
Django==5.2.7
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.2
django-rest==0.8.7
djangorestframework==3.16.1
Faker==37.12.0
gunicorn==23.0.0
Markdown==3.9
packaging==25.0
psycopg==3.2.12
psycopg-binary==3.2.12
psycopg-pool==3.2.7
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
